body{
margin:0;
background:black;
color:white;
font-family:monospace;
display:flex;
justify-content:center;
}

.app{
width:100%;
max-width:520px;
padding:10px;
text-align:center;
}

h1{
font-size:28px;
margin-bottom:10px;
}

.camera-box{
position:relative;
width:100%;
}

video{
display:none;
}

#asciiCanvas{
width:100%;
background:black;
border-radius:8px;
}

#processCanvas{
display:none;
}

.modes{
margin-top:10px;
display:flex;
gap:8px;
justify-content:center;
flex-wrap:wrap;
}

.record{
margin-top:10px;
display:flex;
gap:8px;
justify-content:center;
flex-wrap:wrap;
}

button{
padding:10px 16px;
border:none;
border-radius:6px;
background:#00ffaa;
color:black;
font-weight:bold;
}

a{
padding:10px 16px;
background:#008cff;
color:white;
border-radius:6px;
text-decoration:none;
}
